version: '2'

services:
  kusanagi-data:
    container_name: kusanagi-data
    image: busybox
    restart: always
    stdin_open: true
    tty: true
    volumes:
      - ./db:/var/lib/mysql
      - ./nginx:/etc/nginx/conf.d
      - ./kusanagi.d:/etc/kusanagi.d
      - ./home:/home/kusanagi
    command: /bin/sh
  
  kusanagi-nginx:
    container_name: kusanagi-nginx
    image: primestrategy/kusanagi-nginx:1.10.0-1
    restart: always
    environment:
      PROFILE: kusanagi
      FQDN: kusanagi.example.jp
      WPLANG: ja
      BCACHE: "on"
      FCACHE: "off"
    volumes_from:
      - kusanagi-data
    links:
      - kusanagi-php7:php
    ports:
      - "80:80"
      - "443:443"
  
  kusanagi-mariadb:
    container_name: kusanagi-mariadb
    image: mariadb:10.2.14
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw
      MYSQL_USER:     user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: wordpress
    volumes_from:
      - kusanagi-data
  
  kusanagi-php7:
    container_name: kusanagi-php7
    image: riku6460/kusanagi-php7:7.2.8
    restart: always
    links:
      - kusanagi-mariadb:mysql
    volumes_from:
      - kusanagi-data
